{% extends "base.html" %}

{% block body_header %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">

    <div class="row">
        <div class="span12">
            <h1>Welcome to Hoot.IT</h1>
        </div>

        <div class="span5">
            <p>Homework made easy</p>
            <img src="{{ STATIC_URL }}img/hootBanner.gif" width="290px"/>
        </div>

        <div class="span4">
            <form action="/accounts/signup/">
                {{ form.as_table }}
            <br/>
            <input type="submit" value="sumbit" />
            </form>
        </div>

    </div>

{% endblock %}
