{% extends "base.html" %}

{% block content %}
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">

    <div class="row">
        <div class="span12">
            <h1>Welcome to Hoot.IT</h1>
        </div>

        <div class="span8">
            <p>Homework made easy</p>
            <img style="width:360px; height:200px;" src="{{ STATIC_URL }}img/hoot_home_page.jpg" width="290px"/>
        </div>
        <div class="span3">
            <h2> Signup </h2>
            <form action="/accounts/signup/">
                {{ form.as_table }}
            <br/>
            <input type="submit" value="sumbit" />
            </form>
        </div>

    </div>

{% endblock %}
