{% extends "base.html" %}

{% block body_header %}
{% endblock %}
{% block content %}
<div class="container">
      <div class="page-header">
        <h1>
          PSET 8 <small>Elec 241</small>
        </h1>
      </div>
      <div class="row">
        <div class="span6">
          <h2>
            Questions
          </h2>
          <h3>1. Question 1.2 in Book</h3>
          <div id="diffmeter"></div>
          <pre>
<a class="btn btn-success" href="#">Hoot IT!</a><a class="btn btn-danger" href=
"#">Work It</a>
</pre>
</pre>
        </div><!--/span-->
        <div class="span6">
          <h2>
            Stats
          </h2>
          <pre class="prettyprint linenums">
<strong>Average Time:</strong> 10 minutes
<strong>People finished:</strong> 20

</pre>
          <h2>
            Activity
          </h2>
          <pre>

</pre>
        </div><!--/span-->
      </div><!--/row-->
    </div><!-- /container -->
{% endblock %}
