{% extends "base.html" %}

{% load sekizai_tags %}

{% block content %}

{% addtoblock "js" %}
// Csrf ajax token magic
<script style="text/javascript">
            jQuery(document).ajaxSend(function(event, xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                function sameOrigin(url) {
                    // url could be relative or scheme relative or absolute
                    var host = document.location.host; // host + port
                    var protocol = document.location.protocol;
                    var sr_origin = '//' + host;
                    var origin = protocol + sr_origin;
                    // Allow absolute or scheme relative URLs to same origin
                    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                        // or any other URL that isn't scheme relative or absolute i.e relative.
                        !(/^(\/\/|http:|https:).*/.test(url));
                }
                function safeMethod(method) {
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            });
</script>
<!-- Feedback plugins -->
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.countdown.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.rating.js"></script>

<script type="text/javascript">
    $(function(){

        /*
        $('#countdown-1').countdown({
            since: new Date(),
            format: 'HMS'
        });
        $("#countdown-1").countdown("pause");
        */

        $('.btn-countdown-1').toggle(
            function() {
                $(this).text('Pause').removeClass("btn");
                $(this).text('Pause').addClass("btn-inverse");
                $('#countdown-1').countdown('resume');
            },
            function() {
                $(this).text('Start');
                $(this).removeClass("btn-inverse");
                $(this).addClass("btn");
                $('#countdown-1').countdown('pause');
            }
        );

        function showPauseTime(periods) {
            $('#showPauseTime').text(periods[4] + ':' + twoDigits(periods[5]) +
            ':' + twoDigits(periods[6]));
        }

        $( 'body' ).find( 'div[id|=countdown]' ).each( function(){
                $(this).countdown({
                    since: new Date(),
                    format: 'HMS'
                });
                var question_id = $(this).attr("id").split("-")[1];
                $("#countdown-" + question_id ).countdown("pause");
        }); // end of each

        $( 'body' ).find( "button[id|=btn-countdown]" ).each( function(){
                var question_id = $(this).attr("id").split("-")[2];
                $(this).toggle(
                    function() {
                        $(this).text('Pause').removeClass("btn");
                        $(this).text('Pause').addClass("btn-inverse");
                        $('#countdown-' + question_id).countdown('resume');
                    },
                    function() {
                        $(this).text('Start');
                        $(this).removeClass("btn-inverse");
                        $(this).addClass("btn");
                        $('#countdown-' + question_id).countdown('pause');
                    }
                ) // end of toggle
        }); //end of each

        /* Click Binders */
        $( 'body' ).find( '.star-rating' ).each( function(){
                $(this).click(
                function(){
                    var star_container = $(this).parent().children();
                    var rating = star_container.index( $(this) ); // star rating
                    var url_send_rating = "/api/rating/";
                    var question_div = $($(this).parentsUntil("div[id|=question]").parent()[0]);
                    var question_pk = question_div.attr("id").split("-")[1];
                    $.ajax( url_send_rating, {
                        'async': true,
                        'data': {
                            'question': question_pk,
                            'rating': rating
                        },
                        'type':'POST'
                    }).done( function(msg){
                        alert('update success');
                    }).fail( function(msg){
                        alert("update fail");
                    });
                }
            ); // end of click
        }); // end of each

        $( 'body' ).find( 'button[id|=btn-hoot]' ).each( function(){
                $(this).click(
                function(){
                    var time = $(this).countdown("getTimes");

                    var url_send_time= "/api/time/";
                    var question_pk = $(this).attr("id").split("-")[2];

                    $.ajax( url_send_time, {
                        'async': true,
                        'data': {
                            'question': question_pk,
                            'duration':time
                        },
                        'type':'POST'
                    }).done( function(msg){
                        alert("congrats, hoot complete");
                        console.log("success");
                    }).fail( function(msg){
                        alert("congrats, hoot complete");
                        console.log("fail");
                    });
                }
            ); // end of click
        }); // end of each

    });
</script>

{% endaddtoblock %}

{% addtoblock "css" %}
<link href="{{ STATIC_URL }}css/jquery.countdown.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/jquery.rating.css" rel="stylesheet">
<style>
.hoot-questions {
    height:100%;
}
</style>
{% endaddtoblock %}

<div class="container">
	<div class="page-header">
		<h1>
            {{ problemset.name  }}
            <small>{{ problemset.course }}</small>
        </h1>
    </div>
    <div class="row hoot-questions">

		<div class="span6">
			<h2> Questions </h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Details</th>
                    </tr>
                </thead>
                <tbody>
                {% for q in questions %}
                    <tr>
                        <td class="span3">
                            <h3> {{ forloop.counter }}. {{ q.name }} </h3>
                            <div class="question_content">
                                {{ q.details }}
                            </div>
                        </td>

                        <td class="span3">
                            <div id="question-{{ q.pk }}" class="collapse in">

                                <!-- Countdown -->
                                <div id="countdown-{{ q.pk }}" class="" style=""></div>
                                <br/>
                                <hr>
                                <!-- Ratings -->
                                <div id="diffmeter">
                                    <form>
                                        <input href="javascript: alert('bond')" name="star1" type="radio" class="star" onclick="send_data()"/>
                                        <input name="star1" type="radio" class="star"/>
                                        <input name="star1" type="radio" class="star" checked="checked" />
                                        <input name="star1" type="radio" class="star"/>
                                        <input name="star1" type="radio" class="star"/>
                                        <input type="hidden" name="question-pk" value="{{ q.pk }}" />
                                    </form>
                                </div>
                                <br/>
                                <hr>
                                <!-- Buttons -->
                                <button id="btn-countdown-{{ q.pk }}" class="btn btn-countdown-{{ q.pk }}"> Start </button>
                                <button id="btn-hoot-{{q.pk}}" class="btb btn-success"> Hoot It! </button>

                            </div>
                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="span6">
            {% if problemset.name == "Problem Set 1" %}
			<h2> Stats </h2>
			<div class="prettyprint linenums hero-unit">
				<strong>Average Time for Problem Set:</strong> 2 hours  45 minutes <br />
				<strong>Average Time for Question:</strong> 34 minutes <br />
				<strong>People finished:</strong> 15 <br />
				<strong>Hardest Question:</strong> 3<br />
				<strong>Average Difficulty:</strong> 4<br />
				<strong>Easiest Question:</strong> 1<br />
			</div>

			<h2> Activity </h2>
			<div class="hero-unit">
                <p> <a href="">Lin</a> is done with problem 4</p>
                <p> <a href="/accounts/alice/"> Alice</a> finished problemset in 3 hours and 21 minutes </p>
                <p> <a href="">Kota </a> finished question 4 in 10 minutes</p>
                <p> <a href="">Sandra</a> rated question 5 a difficulty of 4</p>
                <p> <a href="">Professor Hanan</a> posted a <a href="">note</a> on question 3</p>

			</div>
            {% else %}
			<div class="prettyprint linenums hero-unit">
				<strong>Average Time for Problem Set:</strong> 2 hours  45 minutes <br />
				<strong>Average Time for Question:</strong> 34 minutes <br />
				<strong>People finished:</strong> 15 <br />
				<strong>Hardest Question:</strong> 3<br />
				<strong>Average Difficulty:</strong> 4<br />
				<strong>Easiest Question:</strong> 1<br />
			</div>

			<h2> Activity </h2>
			<div class="hero-unit">
                <p> <a href="">Lin</a> is done with problem 4</p>
                <p> <a href="/accounts/alice/"> Alice</a> finished problemset in 3 hours and 21 minutes </p>
                <p> <a href="">Kota </a> finished question 4 in 10 minutes</p>
                <p> <a href="">Sandra</a> rated question 5 a difficulty of 4</p>
                <p> <a href="">Professor Hanan</a> posted a <a href="">note</a> on question 3</p>

			</div>
            {% endif %}

        </div><!--/span-->
      </div><!--/row-->
    </div><!-- /container -->
{% endblock %}
