/* Header Elements */
#logo {}
#logo_temp{}

#header-profile,
#header-right {
    float: left;
    display:inline;
}



/* Unsorted */
.wrapper-super-block {
    height: 900px; /* #HACK */
    width: 95%;
}
.containment-wrapper {
    height: 600px%;
}
.containment {
    height: 33%;
}

clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.img-profile {
    height: 90px;   /* #HACK */
    width: 90px;
    background: grey;
    border: 2px solid;
}


/* Contrib */
.index_statement {
    font-size: 95px;
    line-height: .9em;
    font-weight: bold;
    letter-spacing: -5px;
    font-family: Helvetica, Arial, sans-serif;
    color: #00C0F3;
    margin-left: -6px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.index_about {
  font-size: 48px;
  line-height: 1em;
  font-weight: bold;
  letter-spacing: -2px;
  font-family: Helvetica, Arial, sans-serif;
  color: #ccc;
  margin-left: -6px;
  margin-top: 0px;
  margin-bottom: 10px;
}
